!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title DepaRent-Search
    / Bootstrap core CSS
    %link{href: "css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "css/bootstrap-social.css", rel: "stylesheet", type: "text/css"}/
    / Add custom CSS here
    %link{href: "css/stylish-portfolio.css", rel: "stylesheet"}/
    %link{href: "font-awesome/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300", rel: "stylesheet", type: "text/css"}/
  %body
    / Side Menu
    %nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
            %i.fa.fa-bars
          %a.navbar-brand{href: "#page-top",style: "color: #000;font-family: 'Open Sans', sans-serif;"}
            
            %span.light{style: "color: #000;"}
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            / Hidden li included to remove active class from about link when scrolled up past about section
            %li.hidden
              %a{href: "/"}
            %li.page-scroll
              %a{href: "/auth/facebook", style: "color: #000; font-size: 1.3em; font-family: 'Open Sans', sans-serif;"} Iniciar Sesi贸n
        / /.navbar-collapse
      / /.container
    / /Side Menu
    / Full Page Image Header Area
    #top.header
      .vert-text
        %h1{style: "font-family: 'Open Sans', sans-serif;"} Error 401, lo sentimos :(
        %h4
          para ver este contenido, debes de iniciar sesi贸n
        %br/
    / /Full Page Image Header Area          
    / /Intro
    / Footer
    %footer
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            .top-scroll
            %hr/
            %p TI-3404 Lenguajes de programaci贸n, Instituto Tecnol贸gico de Costa Rica
            %br/
    / /Footer
    / JavaScript
    %script{src: "js/jquery-1.10.2.js"}
    %script{src: "js/bootstrap.js"}
    / Custom JavaScript for the Side Menu and Smooth Scrolling
    :javascript
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    :javascript
      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });