!!!
%html
  %head
    %meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/
    :css
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDlFYQEPfS9BsD5ZD9hU2IwlGAoXtUAk_Y", type: "text/javascript"}
      :cdata
    :javascript
      var marker=null;
      var infoWindow = null;
      var map = null;
      var res=#{resultados};
      var latitud=res[0];
      var longitud=res[1];


      function openInfoWindow(marker) {
      var markerLatLng = marker.getPosition();
      infoWindow.setContent([
        'X: ',
        markerLatLng.lat(),
        ', Y: ',
        markerLatLng.lng(),
        '.'
      ].join(''));
      var abc=document.getElementById('Lat');

      alert(String(abc));
      infoWindow.open(map, marker);
      }

      function initialize() {
        var myLatlng=new google.maps.LatLng(latitud,longitud)
        var mapOptions = {
          center: myLatlng,
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
        infoWindow = new google.maps.InfoWindow();
        marker = new google.maps.Marker({
         position: myLatlng,
         draggable: true,
         map: map,
         title:"Posicion"
        });
        
        google.maps.event.addListener(marker, 'mouseout', function(){
        openInfoWindow(marker);
        });
      }
      function retorna_coordenadas(){
         var markerLatLng = marker.getPosition();
         var prueba=new Array(markerLatLng.lat().toString(),markerLatLng.lng().toString());
         alert("Coordenadas"+prueba);
         return prueba;
      }


      google.maps.event.addDomListener(window, 'load', initialize);
  %body
    #map-canvas(style="width: 100%; height: 100%;")
